<div class="main">
    <div class="header">
        <h2 class="center">AngularLearn </h2>
    </div>

    <div class="body">
        <div class="left">
            <ul>
                <li>
                    <a [routerLink]="['']">hello</a>
                </li>
                <li>
                    <a [routerLink]="['lazy']">lazy 和 mylib</a>
                </li>
                <li>
                    <a [routerLink]="['game']">game</a>
                </li>
                <li>
                    <a [routerLink]="['partent']">partent</a>
                </li>
                <li>
                    <a [routerLink]="['valueaccessor']">value accessor</a>
                </li>
                <li>
                    <a [routerLink]="['dynamic']">dynamic component</a>
                </li>
                <li>
                    <a [routerLink]="['childrouter']">child router</a>
                </li>
                <li>
                    <a [routerLink]="['multioutlets']">auxoutlets 辅助路由</a>
                </li>
                <li>
                    <a [routerLink]="['http']">http</a>
                </li>
                <li>
                    <a [routerLink]="['lifecycle']">lifecycle</a>
                </li>
                <li>
                    <a [routerLink]="['di']">di</a>
                </li>
                <li>
                    <a [routerLink]="['di1']">di1</a>
                </li>
                <li>
                    <a [routerLink]="['metadata']">metadata</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer">
        <p class="center">By: Mr.Zhang</p>
    </div>
</div>