<div class="main">
    <h2>Here are some links to help you start: </h2>
    <div class="left">
        <ul>
            <li>
                <a [routerLink]="['']">hello</a>
            </li>
            <li>
                <a [routerLink]="['lazy']">lazy和mylib</a>
            </li>
            <li>
                <a [routerLink]="['game']">game</a>
            </li>
            <li>
                <a [routerLink]="['partent']">partent</a>
            </li>
            <li>
                <a [routerLink]="['valueaccessor']">valueaccessor</a>
            </li>
            <li>
                <a [routerLink]="['dynamic']">dynamiccomponent</a>
            </li>
            <li>
                <a [routerLink]="['childrouter']">childrouter</a>
            </li>
            <li>
                <a [routerLink]="['multioutlets']">auxoutlets 辅助路由</a>
            </li>
        </ul>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>